@{
    ViewBag.Title = "Index";
}
<p></p>
<p></p>
<p></p>
<div class="jumbotron">
    <div class="container">
        <h1>Вітаємо!</h1>
        <p>Ви здійснили вхід з правами адміністраторами.</p>
        <p>Вам доступні дії із додавання, редагування та видалення державних наукових тем,</p>
        <p>наукових ступенів, вчених звань та посад.</p>
    </div>
</div>

