
@{
    ViewBag.Title = "Index";
}
<p></p>
<p></p>
<p></p>
<div class="jumbotron">
    <div class="container">
        <h1>Вітаємо!</h1>
        <p>Ви здійснили вхід з правами керівника теми.</p>
        <p>Вам доступні дії із додавання, редагування та видалення етапів теми,</p>
        <p>звітів та табелів до них. Також, Ви можете призначати виконавців на етапи теми.</p>
    </div>
</div>

